<div class="content-body">
  <div class="container-fluid">
    <div class="row page-titles mx-0">
      <div class="col-sm-6 p-md-0">
        <div class="welcome-text">
          <h4> Bienvenue !</h4>
        </div>
      </div>
    </div>
    <!-- row -->
    <div class="row">
      <div class="col-xl-6">
        <div class="card">
          <div class="card-body">

            <app-carousel-navigation [content]="carouselMenus"></app-carousel-navigation>

          </div>
        </div>
      </div>
      <div class="col-xl-6">
        <div class="card">
          <div class="card-body">
            <app-carousel-navigation [content]="carouselProducts"></app-carousel-navigation>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
